@{
    Layout = null;
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        *, body {
            font-size: 12px;
            font-family: "klavika-web",sans-serif;
        }

        .hidden {
            display: none;
        }

    </style>
</head>
<body>
    <div id="content"></div>
    <div id="divdata1"></div>
    <div id="divdata2"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/Scripts/ReactTutorial.jsx")"></script>
    <script src="@Url.Content("~/Scripts/TDivData.jsx")"></script>
</body>
</html>

